/* styles/main.css */
body, html {
  margin: 0;
  padding: 0;
}
.FlexCSHC {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}
.FlexRCE {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}
.FlexRCC {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.FlexRCS {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.FlexCCC {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.FlexCSHB {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.FlexRCC {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

